Hello! Thank you for taking the time to read my Code! Looking forward to hear your thoughts and improvements!

While you are at it, make sure to visit my website at   pablodoesdata.science  to have a closer look on what my experience looks like.

In [33]:
import pandas as pd
import psycopg2
import boto3
import numpy as np

Access keys to get S3 bucket access and bucket name for future references

In [4]:
key_id = 'AKIAZZ33YB65GZIN656A'
access_key = 'i4RvJxZXAw1pOFMRdKp3Jp2c3x+BHiGfVEWi+ZKA'
bucket_name = 'mindex-data-analytics-code-challenge'

In [5]:
s3 = boto3.client('s3',aws_access_key_id=key_id,aws_secret_access_key=access_key)

Once we get the access, lets look at what files are in the bucket, our pdf said we needed four but lets confirm this.

In [6]:
for key in s3.list_objects(Bucket=bucket_name)['Contents']:
    print(key['Key'])

bengals.csv
boyd_receiving.csv
chase_receiving.csv
higgins_receiving.csv

In [7]:
bengals = s3.get_object(Bucket=bucket_name,Key='bengals.csv')
boyd_receiving = s3.get_object(Bucket=bucket_name,Key='boyd_receiving.csv')
chase_receiving = s3.get_object(Bucket=bucket_name,Key='chase_receiving.csv')
higgins_receiving = s3.get_object(Bucket=bucket_name,Key='higgins_receiving.csv')

Make them into csvs and explore what they look like

In [8]:
bengalsdf =  pd.read_csv(bengals.get("Body"))
boyd_receivingdf =  pd.read_csv(boyd_receiving.get("Body"))
chase_receivingdf =  pd.read_csv(chase_receiving.get("Body"))
higgins_receivingdf =  pd.read_csv(higgins_receiving.get("Body"))

In [22]:
bengalsdf.head(1)

   Week Opponent Location  Result
0  PRE1       TB     Away     1.0

In [15]:
boyd_receivingdf.head(1)

   Week  Yards  TD
0  REG1     32   0

In [16]:
chase_receivingdf.head(1)

   Week  Yards  TD
0  REG1    101   1

In [17]:
higgins_receivingdf.head(1)

   Week  Yards  TD
0  REG1     58   1

Based on these 4 dataframes, "Week" seems to be our merging column. 
Note: Not all players played all weeks

In [43]:
final_df = bengalsdf.merge(boyd_receivingdf,on='Week',how='left').merge(chase_receivingdf,on='Week',how='left',suffixes=('_boyd','_chase')).merge(higgins_receivingdf,on='Week',how='left')
final_df.rename(columns={"Yards":"Yards_higgins","TD":"TD_higgins"},inplace=True)
final_df

,Week,Opponent,Location,Result,Yards_boyd,TD_boyd,Yards_chase,TD_chase,Yards_higgins,TD_higgins
0,PRE1,TB,Away,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,PRE2,WSH,Away,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,PRE3,MIA,Home,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,REG1,MIN,Home,1.0,32.0,0.0,101.0,1.0,58.0,1.0
4,REG2,CHI,Away,0.0,73.0,0.0,54.0,1.0,60.0,1.0
5,REG3,PIT,Away,1.0,36.0,1.0,65.0,2.0,NaN,NaN
6,REG4,JAX,Home,1.0,118.0,0.0,77.0,0.0,NaN,NaN
7,REG5,GB,Home,0.0,24.0,0.0,159.0,1.0,32.0,0.0
8,REG6,DET,Away,1.0,7.0,0.0,97.0,0.0,44.0,0.0
9,REG7,BAL,Away,1.0,39.0,0.0,201.0,1.0,62.0,0.0
10,REG8,NYJ,Away,0.0,69.0,1.0,32.0,1.0,97.0,0.0
11,REG9,CLE,Home,0.0,11.0,0.0,49.0,0.0,78.0,0.0
12,REG10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,REG11,LV,Away,1.0,49.0,0.0,32.0,1.0,15.0,0.0
14,REG12,PIT,Home,1.0,13.0,0.0,39.0,0.0,114.0,1.0
15,REG13,LAC,Home,0.0,85.0,0.0,52.0,0.0,138.0,1.0
16,REG14,SF,Home,0.0,55.0,0.0,77.0,2.0,114.0,0.0
17,REG15,DEN,Away,1.0,96.0,1.0,3.0,0.0,23.0,0.0
18,REG16,BAL,Home,1.0,85.0,1.0,125.0,0.0,194.0,2.0
19,REG17,KC,Home,1.0,36.0,1.0,266.0,3.0,62.0,0.0
20,REG18,CLE,Away,0.0,NaN,NaN,26.0,0.0,NaN,NaN
21,POST1,LV,Home,1.0,26.0,1.0,116.0,0.0,10.0,0.0
22,POST2,TEN,Away,1.0,17.0,0.0,109.0,0.0,96.0,0.0
23,POST3,KC,Away,1.0,19.0,0.0,54.0,1.0,103.0,0.0
24,POST4,LAR,Neutral,0.0,48.0,0.0,89.0,0.0,100.0,2.0

As instructed in the pdf,change the Result column from binary into string (Win , Loss)

In [44]:
condition1 = [(final_df['Result'] == 1), (final_df['Result'] == 0)]
change = ['Won','Lost']
final_df['Result'] = np.select(condition1, change)
final_df

,Week,Opponent,Location,Result,Yards_boyd,TD_boyd,Yards_chase,TD_chase,Yards_higgins,TD_higgins
0,PRE1,TB,Away,Won,NaN,NaN,NaN,NaN,NaN,NaN
1,PRE2,WSH,Away,Lost,NaN,NaN,NaN,NaN,NaN,NaN
2,PRE3,MIA,Home,Lost,NaN,NaN,NaN,NaN,NaN,NaN
3,REG1,MIN,Home,Won,32.0,0.0,101.0,1.0,58.0,1.0
4,REG2,CHI,Away,Lost,73.0,0.0,54.0,1.0,60.0,1.0
5,REG3,PIT,Away,Won,36.0,1.0,65.0,2.0,NaN,NaN
6,REG4,JAX,Home,Won,118.0,0.0,77.0,0.0,NaN,NaN
7,REG5,GB,Home,Lost,24.0,0.0,159.0,1.0,32.0,0.0
8,REG6,DET,Away,Won,7.0,0.0,97.0,0.0,44.0,0.0
9,REG7,BAL,Away,Won,39.0,0.0,201.0,1.0,62.0,0.0
10,REG8,NYJ,Away,Lost,69.0,1.0,32.0,1.0,97.0,0.0
11,REG9,CLE,Home,Lost,11.0,0.0,49.0,0.0,78.0,0.0
12,REG10,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
13,REG11,LV,Away,Won,49.0,0.0,32.0,1.0,15.0,0.0
14,REG12,PIT,Home,Won,13.0,0.0,39.0,0.0,114.0,1.0
15,REG13,LAC,Home,Lost,85.0,0.0,52.0,0.0,138.0,1.0
16,REG14,SF,Home,Lost,55.0,0.0,77.0,2.0,114.0,0.0
17,REG15,DEN,Away,Won,96.0,1.0,3.0,0.0,23.0,0.0
18,REG16,BAL,Home,Won,85.0,1.0,125.0,0.0,194.0,2.0
19,REG17,KC,Home,Won,36.0,1.0,266.0,3.0,62.0,0.0
20,REG18,CLE,Away,Lost,NaN,NaN,26.0,0.0,NaN,NaN
21,POST1,LV,Home,Won,26.0,1.0,116.0,0.0,10.0,0.0
22,POST2,TEN,Away,Won,17.0,0.0,109.0,0.0,96.0,0.0
23,POST3,KC,Away,Won,19.0,0.0,54.0,1.0,103.0,0.0
24,POST4,LAR,Neutral,Lost,48.0,0.0,89.0,0.0,100.0,2.0

The dataframe is all ready to be delivered, however we need some cleansing as there are weeks that hold no value as no receiver played or no team was played against. (index:0,1,2 and 12 respectively)

In [48]:
final_df = final_df.drop([0, 1, 2,12])

KeyError: '[ 0  1  2 12] not found in axis'

In [50]:
final_df

,Week,Opponent,Location,Result,Yards_boyd,TD_boyd,Yards_chase,TD_chase,Yards_higgins,TD_higgins
3,REG1,MIN,Home,Won,32.0,0.0,101.0,1.0,58.0,1.0
4,REG2,CHI,Away,Lost,73.0,0.0,54.0,1.0,60.0,1.0
5,REG3,PIT,Away,Won,36.0,1.0,65.0,2.0,NaN,NaN
6,REG4,JAX,Home,Won,118.0,0.0,77.0,0.0,NaN,NaN
7,REG5,GB,Home,Lost,24.0,0.0,159.0,1.0,32.0,0.0
8,REG6,DET,Away,Won,7.0,0.0,97.0,0.0,44.0,0.0
9,REG7,BAL,Away,Won,39.0,0.0,201.0,1.0,62.0,0.0
10,REG8,NYJ,Away,Lost,69.0,1.0,32.0,1.0,97.0,0.0
11,REG9,CLE,Home,Lost,11.0,0.0,49.0,0.0,78.0,0.0
13,REG11,LV,Away,Won,49.0,0.0,32.0,1.0,15.0,0.0
14,REG12,PIT,Home,Won,13.0,0.0,39.0,0.0,114.0,1.0
15,REG13,LAC,Home,Lost,85.0,0.0,52.0,0.0,138.0,1.0
16,REG14,SF,Home,Lost,55.0,0.0,77.0,2.0,114.0,0.0
17,REG15,DEN,Away,Won,96.0,1.0,3.0,0.0,23.0,0.0
18,REG16,BAL,Home,Won,85.0,1.0,125.0,0.0,194.0,2.0
19,REG17,KC,Home,Won,36.0,1.0,266.0,3.0,62.0,0.0
20,REG18,CLE,Away,Lost,NaN,NaN,26.0,0.0,NaN,NaN
21,POST1,LV,Home,Won,26.0,1.0,116.0,0.0,10.0,0.0
22,POST2,TEN,Away,Won,17.0,0.0,109.0,0.0,96.0,0.0
23,POST3,KC,Away,Won,19.0,0.0,54.0,1.0,103.0,0.0
24,POST4,LAR,Neutral,Lost,48.0,0.0,89.0,0.0,100.0,2.0

Looks like our Dataframe is ready to be uploaded,lets get that connection going
First lets put all the credentials on a single line for scalability and accesibility for future users

In [81]:
columnnames = str(list(final_df.columns))
columnnames = columnnames.replace("]",")")
columnnames = columnnames.replace("[","(")
values = str(final_df.values.tolist())
values = values.replace("]",")")
values = values.replace("[","(")

In [51]:
Username = 'pablo_escoto'
Password =  'eablopscoto'
Table_Name = 'pablo_escoto'
host = 'ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com'
database = 'postgres'

In [52]:
con = psycopg2.connect(database=database, user=Username,password=Password,host=host)

In [53]:
cursor = con.cursor()

In [82]:
sqlupload = "Insert into " + Table_Name + " " + columnnames + " " + values
sqlupload

"Insert into pablo_escoto ('Week', 'Opponent', 'Location', 'Result', 'Yards_boyd', 'TD_boyd', 'Yards_chase', 'TD_chase', 'Yards_higgins', 'TD_higgins') (('REG1', 'MIN', 'Home', 'Won', 32.0, 0.0, 101.0, 1.0, 58.0, 1.0), ('REG2', 'CHI', 'Away', 'Lost', 73.0, 0.0, 54.0, 1.0, 60.0, 1.0), ('REG3', 'PIT', 'Away', 'Won', 36.0, 1.0, 65.0, 2.0, nan, nan), ('REG4', 'JAX', 'Home', 'Won', 118.0, 0.0, 77.0, 0.0, nan, nan), ('REG5', 'GB', 'Home', 'Lost', 24.0, 0.0, 159.0, 1.0, 32.0, 0.0), ('REG6', 'DET', 'Away', 'Won', 7.0, 0.0, 97.0, 0.0, 44.0, 0.0), ('REG7', 'BAL', 'Away', 'Won', 39.0, 0.0, 201.0, 1.0, 62.0, 0.0), ('REG8', 'NYJ', 'Away', 'Lost', 69.0, 1.0, 32.0, 1.0, 97.0, 0.0), ('REG9', 'CLE', 'Home', 'Lost', 11.0, 0.0, 49.0, 0.0, 78.0, 0.0), ('REG11', 'LV', 'Away', 'Won', 49.0, 0.0, 32.0, 1.0, 15.0, 0.0), ('REG12', 'PIT', 'Home', 'Won', 13.0, 0.0, 39.0, 0.0, 114.0, 1.0), ('REG13', 'LAC', 'Home', 'Lost', 85.0, 0.0, 52.0, 0.0, 138.0, 1.0), ('REG14', 'SF', 'Home', 'Lost', 55.0, 0.0, 77.0, 2.0, 114.0, 0.0), ('REG15', 'DEN', 'Away', 'Won', 96.0, 1.0, 3.0, 0.0, 23.0, 0.0), ('REG16', 'BAL', 'Home', 'Won', 85.0, 1.0, 125.0, 0.0, 194.0, 2.0), ('REG17', 'KC', 'Home', 'Won', 36.0, 1.0, 266.0, 3.0, 62.0, 0.0), ('REG18', 'CLE', 'Away', 'Lost', nan, nan, 26.0, 0.0, nan, nan), ('POST1', 'LV', 'Home', 'Won', 26.0, 1.0, 116.0, 0.0, 10.0, 0.0), ('POST2', 'TEN', 'Away', 'Won', 17.0, 0.0, 109.0, 0.0, 96.0, 0.0), ('POST3', 'KC', 'Away', 'Won', 19.0, 0.0, 54.0, 1.0, 103.0, 0.0), ('POST4', 'LAR', 'Neutral', 'Lost', 48.0, 0.0, 89.0, 0.0, 100.0, 2.0))"

In [63]:
print(cursor.fetchall('SELECT * from pablo_escoto'))

TypeError: cursor.fetchall() takes no arguments (1 given)