In [2]:
print('Trate')

Trate

Hello! Thank you for taking the time to read my Code! Looking forward to hear your thoughts and improvements!

In [3]:
import pandas as pd
import psycopg2
import boto3

Access keys to get S3 bucket access

In [4]:
key_id = 'AKIAZZ33YB65GZIN656A'
access_key = 'i4RvJxZXAw1pOFMRdKp3Jp2c3x+BHiGfVEWi+ZKA'
bucket_name = 'mindex-data-analytics-code-challenge'

In [5]:
s3 = boto3.client('s3',aws_access_key_id=key_id,aws_secret_access_key=access_key)

In [6]:
for key in s3.list_objects(Bucket=bucket_name)['Contents']:
    print(key['Key'])

bengals.csv
boyd_receiving.csv
chase_receiving.csv
higgins_receiving.csv

In [7]:
bengals = s3.get_object(Bucket=bucket_name,Key='bengals.csv')
boyd_receiving = s3.get_object(Bucket=bucket_name,Key='boyd_receiving.csv')
chase_receiving = s3.get_object(Bucket=bucket_name,Key='chase_receiving.csv')
higgins_receiving = s3.get_object(Bucket=bucket_name,Key='higgins_receiving.csv')

In [8]:
bengalsdf =  pd.read_csv(bengals.get("Body"))
boyd_receivingdf =  pd.read_csv(boyd_receiving.get("Body"))
chase_receivingdf =  pd.read_csv(chase_receiving.get("Body"))
higgins_receivingdf =  pd.read_csv(higgins_receiving.get("Body"))

In [22]:
bengalsdf.head(1)

   Week Opponent Location  Result
0  PRE1       TB     Away     1.0

In [15]:
boyd_receivingdf.head(1)

   Week  Yards  TD
0  REG1     32   0

In [16]:
chase_receivingdf.head(1)

   Week  Yards  TD
0  REG1    101   1

In [17]:
higgins_receivingdf.head(1)

   Week  Yards  TD
0  REG1     58   1

Based on these 4 dataframes, "Week" seems to be our merging column. 
Note: Not all players played all weeks.